{% extends 'base.html' %}
{% block content %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container mt-5 mb-5">
        <h1>Create Topic!</h1>
        <div class="mb-3 mt-5">
            <label class="form-label">Subject</label>
            <input type="text" name="subject" class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">Writer</label>
            <input type="text" class="form-control" disabled value="{{user.username}}">
        </div>
        <div class="mb-3">
            <label class="form-label">Content</label>
            <textarea name="content" class="form-control"></textarea>
        </div>
        <hr>

        <button type="button" onclick="create_choice()" class="btn btn-success">보기 생성</button>
        <div id="choices">
        </div>
        
        <button class="mt-5 mb-5 btn btn-primary">CREATE</button>
    </div>
</form>


<script>
    function create_choice(){
        c = document.getElementById("choices");
        div = document.createElement("div");
        div.innerHTML = '<hr><p>보기이름 <input class="form-control" type="text" name="name" placeholder="제목을 입력해주세요."></p>\
        <p>보기설명 <textarea class="form-control" type="text" name="comment" placeholder="보기에 대한 설명을 해주세요."></textarea></p>\
        <p>이미지 <input class="form-control" type="file" name="pic"></p><hr>';
        c.appendChild(div);
    }
</script>
{% endblock %}